.svg-icon--audio-dark { background-image: url('../images/audio-dark.png'); background-repeat: no-repeat; }

.svg-icon--audio-light { background-image: url('../images/audio-light.png'); background-repeat: no-repeat; }

.svg-icon--email { background-image: url('../images/email.png'); background-repeat: no-repeat; }

.svg-icon--gallery-dark { background-image: url('../images/gallery-dark.png'); background-repeat: no-repeat; }

.svg-icon--info-caption { background-image: url('../images/info-caption.png'); background-repeat: no-repeat; }

.svg-icon--mobile-smart { background-image: url('../images/mobile-smart.png'); background-repeat: no-repeat; }

.svg-icon--movement-dark { background-image: url('../images/movement-dark.png'); background-repeat: no-repeat; }

.svg-icon--movement-light { background-image: url('../images/movement-light.png'); background-repeat: no-repeat; }

.svg-icon--movement-off-dark { background-image: url('../images/movement-off-dark.png'); background-repeat: no-repeat; }

.svg-icon--movement-off-light { background-image: url('../images/movement-off-light.png'); background-repeat: no-repeat; }

.svg-icon--newsletter { background-image: url('../images/newsletter.png'); background-repeat: no-repeat; }

.svg-icon--next-dark { background-image: url('../images/next-dark.png'); background-repeat: no-repeat; }

.svg-icon--pause-dark { background-image: url('../images/pause-dark.png'); background-repeat: no-repeat; }

.svg-icon--previous-dark { background-image: url('../images/previous-dark.png'); background-repeat: no-repeat; }

.svg-icon--rss { background-image: url('../images/rss.png'); background-repeat: no-repeat; }

.svg-icon--to-bottom { background-image: url('../images/to-bottom.png'); background-repeat: no-repeat; }

.svg-icon--twitter { background-image: url('../images/twitter.png'); background-repeat: no-repeat; }

.svg-icon--video-dark { background-image: url('../images/video-dark.png'); background-repeat: no-repeat; }

.svg-icon--video-light { background-image: url('../images/video-light.png'); background-repeat: no-repeat; }

