.orb-nav-search {
  float: right;
}
.bbccom_display_none {
  display: none;
}

.orb-nav-search button {
  padding: 0;
}

.orb-nav-search .orb-search__button {
  cursor: pointer;
  border: none;
  overflow: hidden;
  text-indent: -999px;
  display: block;
  line-height: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  width: 20px;
  height: 20px;
}

.n-no-svg .orb-nav-search .orb-search__button {
  width: 32px;
  height: 24px;
}

.orb-nav-search a.orb-search__button {
  border-right: 1px solid #ccc;
}

.orb-nav-search img {
  padding-top: 0.15em;
  padding-right: 2px;
}

.orb-nav-search form {
  display: none;
  padding: 0.615em 0 0.539em 8px;
}

.orb-nav-search form div {
  width: 200px;
  height: 1.846em;
  min-height: 24px;
}

.orb-nav-search label {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.orb-nav-search #orb-search-q {
  border: none;
  background: none;
  height: 1.846em;
  min-height: 24px;
  font-weight: bold;
  width: 162px;
  float: left;
  padding: 0 0 0 6px;
  color: #333;
  font-weight: bold;
}

.orb-nav-search #orb-search-q::-webkit-input-placeholder {
  color: #333;
  font-weight: bold;
}

.orb-nav-search #orb-search-q::-moz-placeholder {
  color: #333;
  font-weight: bold;
}

.orb-nav-search #orb-search-q:-ms-input-placeholder {
  color: #333;
  font-weight: bold;
}

.orb-nav-search #orb-search-q::-ms-input-placeholder {
  color: #333;
  font-weight: bold;
}

.orb-nav-search #orb-search-q::placeholder {
  color: #333;
  font-weight: bold;
}

.orb-nav-search #orb-search-q:focus::-webkit-input-placeholder {
  color: #999;
}

.orb-nav-search #orb-search-q:focus::-moz-placeholder {
  color: #999;
}

.orb-nav-search #orb-search-q:focus:-ms-input-placeholder {
  color: #999;
}

.orb-nav-search #orb-search-q:focus::-ms-input-placeholder {
  color: #999;
}

.orb-nav-search #orb-search-q:focus::placeholder {
  color: #999;
}

@media screen and (min-width: 600px) {
  .orb-nav-search img {
    padding-top: 1px;
    padding-right: 0;
  }

  .orb-nav-search a.orb-search__button {
    display: none;
  }

  .orb-nav-search form {
    display: block;
  }

  .orb-nav-search .orb-search__button {
    width: 32px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .b-pw-1280 .orb-nav-search form {
    padding-left: 16px;
  }

  .b-pw-1280 .orb-nav-search form div {
    width: 180px;
  }

  .b-pw-1280 .orb-nav-search #orb-search-q {
    width: 142px;
  }
}

#searchbox-panel {
  background-color: #18b;
}

#searchbox {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 866px;
  height: 48px;
  font-family: Arial, Helvetica, freesans, sans-serif;
  font-size: 40px;
}

*[dir='rtl'] .orb-nav-search {
  float: left;
}

*[dir='rtl'] .orb-nav-search button {
  padding: 4px 7px 3px 8px;
}

*[dir='rtl'] .orb-nav-search a.orb-search__button {
  border-left: 1px solid #ccc;
  border-right: none;
}

*[dir='rtl'] .orb-nav-search img {
  padding-left: 2px;
}

*[dir='rtl'] .orb-nav-search form {
  padding: 0.615em 8px 0.539em 0;
}

*[dir='rtl'] .orb-nav-search #orb-search-q {
  float: right;
  padding: 0 6px 0 0;
}

@media screen and (min-width: 600px) {
  *[dir='rtl'] .orb-nav-search img {
    padding-left: 0;
  }
}

.orb-nav-search form div {
  background: #e4e4e4;
}

.orb-nav-active form div,
.orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--black--white .orb-nav-search form div {
  background: #fff;
}

.b-header--black--white.orb-nav-active form div,
.b-header--black--white .orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--grey--white .orb-nav-search form div {
  background: #fff;
}

.b-header--grey--white.orb-nav-active form div,
.b-header--grey--white .orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--dark-grey--grey .orb-nav-search form div {
  background: #fff;
}

.b-header--dark-grey--grey.orb-nav-active form div,
.b-header--dark-grey--grey .orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--semitransparent-dark--white .orb-nav-search form div {
  background: #fff;
}

.b-header--semitransparent-dark--white.orb-nav-active form div,
.b-header--semitransparent-dark--white .orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--semitransparent-medium--white .orb-nav-search form div {
  background: #fff;
}

.b-header--semitransparent-medium--white.orb-nav-active form div,
.b-header--semitransparent-medium--white .orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--semitransparent-light--white .orb-nav-search form div {
  background: #fff;
}

.b-header--semitransparent-light--white.orb-nav-active form div,
.b-header--semitransparent-light--white .orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--transparent--dark-grey .orb-nav-search form div {
  background: #fff;
}

.b-header--transparent--dark-grey.orb-nav-active form div,
.b-header--transparent--dark-grey .orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--transparent--white .orb-nav-search form div {
  background: #fff;
}

.b-header--transparent--white.orb-nav-active form div,
.b-header--transparent--white .orb-nav-active form div {
  background: #e4e4e4;
}

.b-header--white--black .orb-nav-search form div {
  background: #e4e4e4;
}

.b-header--white--black.orb-nav-active form div,
.b-header--white--black .orb-nav-active form div {
  background: #e4e4e4;
}

@media screen and (max-width: 600px) {
  .b-header--black--white .orb-nav-search a {
    border-color: #666;
  }

  .b-header--black--white.orb-nav-active .orb-nav-search a,
  .b-header--black--white .orb-nav-active .orb-nav-search a {
    border-right-color: #cccccc;
  }

  .b-header--grey--white .orb-nav-search a {
    border-color: #949494;
  }

  .b-header--grey--white.orb-nav-active .orb-nav-search a,
  .b-header--grey--white .orb-nav-active .orb-nav-search a {
    border-right-color: #cccccc;
  }

  .b-header--dark-grey--grey .orb-nav-search a {
    border-color: #333;
  }

  .b-header--dark-grey--grey.orb-nav-active .orb-nav-search a,
  .b-header--dark-grey--grey .orb-nav-active .orb-nav-search a {
    border-right-color: #cccccc;
  }

  .b-header--semitransparent-dark--white .orb-nav-search a {
    border-color: #949494;
    border-color: rgba(255, 255, 255, 0.4);
  }

  .b-header--semitransparent-medium--white .orb-nav-search a {
    border-color: #949494;
    border-color: rgba(255, 255, 255, 0.4);
  }

  .b-header--semitransparent-medium--white.orb-nav-active .orb-nav-search a,
  .b-header--semitransparent-medium--white .orb-nav-active .orb-nav-search a {
    border-right-color: #cccccc;
  }

  .b-header--semitransparent-light--white .orb-nav-search a {
    border-color: #949494;
    border-color: rgba(255, 255, 255, 0.4);
  }

  .b-header--semitransparent-light--white.orb-nav-active .orb-nav-search a,
  .b-header--semitransparent-light--white .orb-nav-active .orb-nav-search a {
    border-right-color: #cccccc;
  }

  .b-header--transparent--dark-grey .orb-nav-search a {
    border-color: #888;
    border-color: rgba(0, 0, 0, 0.3);
  }

  .b-header--transparent--dark-grey.orb-nav-active .orb-nav-search a,
  .b-header--transparent--dark-grey .orb-nav-active .orb-nav-search a {
    border-right-color: #cccccc;
  }

  .b-header--transparent--white .orb-nav-search a {
    border-color: #888;
    border-color: rgba(204, 204, 204, 0.3);
  }

  .b-header--transparent--white.orb-nav-active .orb-nav-search a,
  .b-header--transparent--white .orb-nav-active .orb-nav-search a {
    border-right-color: #cccccc;
  }

  .b-header--white--black .orb-nav-search a {
    border-color: #ccc;
  }
}

/*# sourceMappingURL=main.css.map */

.with-extracted-share-icons .extracted__icon {
  width: 26px !important;
  height: 25px !important;
  border-radius: 6px;
}

.with-extracted-share-icons .extracted__channel-link--email {
  height: 26px !important;
  padding: 9px;
  fill: #00b900 !important;
}
.with-extracted-share-icons .extracted__channel-link--email:hover,
.twite__channel-out--email:hover,
.twite__channel-out--email:hover .extracted__channel-link--email {
  background-color: #00b900 !important;
  cursor: pointer;
}

.heron {
  max-width: 200px;
  margin: 15px auto;
  padding: 0;
}

.group-title {
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.column--secondary {
  padding-top: 0 !important;
  width: 285px !important;
  box-shadow: 0 0 10px 0 #dedede;
  margin-top: 22px;
}

.btn {
  color: #ffffff !important;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 15px 40px;
  border-radius: 8px;
  background: #bb1919;
  border: 1px solid #8e756a;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -webkit-box-shadow: 3px 3px 6px 0 #595959;
  box-shadow: 3px 3px 6px 0 #595959;
  cursor: pointer;
  font-size: 23px;
  text-decoration: none;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.search {
  position: relative;
  padding: 10px;
}

.search__link {
  padding: 0 10px !important;
  height: 24px;
  min-height: 24px !important;
  color: #5f5f5f !important
    ;
  line-height: 2 !important;
  cursor: text !important;
}

.search__link svg {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  width: 28px;
  height: 16px;
  cursor: pointer;
}

*:focus,
*:visited,
*:active,
*:hover {
  outline: 0 !important;
}
a,
a:focus,
a:visited,
a:active,
a:hover {
  outline: 0 !important;
}

.product {
  max-width: 250px;
  margin: 20px auto;
}

.product__btn {
  width: 200px;
}

.container {
  padding-bottom: 25px !important;
}

.photo {
  display: flex;
  width: 100%;
  margin: 20px auto 0;
  justify-content: space-around;
}

.photos__text {
  font-size: 18px !important;
  background: #dedede;
  line-height: 22px !important;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #666;
  width: 100%;
  margin-top: 0 !important;
  height: 22px;
}

.images {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  background: transparent;
  outline: 1px solid #666;
  background: #dedede;
}

.image-block {
  position: relative;
  border-top: none;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.images:hover {
  outline: 1px solid #666 !important;
}

.blur-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.blur {
  filter: blur(0);
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.blur-block--5 .blur {
  height: 200px;
}

hr {
  margin: 20px 0;
}

.title-xl {
  font-size: 20px !important;
  margin-top: 20px !important;
}

.story-body__introduction + p {
  margin-top: 15px !important;
}

.product-name--link,
.link {
  color: #bb1919;
}

.product-name--link:hover,
.link:hover {
  text-decoration: underline;
}
.attention {
  padding: 10px;
  border: 1px solid #bb1919;
  text-align: center;
}

.story .column--primary {
  padding-top: 20px !important;
}
.index-title__container {
  padding-top: 20px !important;
}
.center {
  text-align: center;
  font-weight: 700;
}

.review {
  display: flex;
  align-items: flex-start;
}
.unit__title p {
  font-size: 16px;
  margin-bottom: 5px;
}
.unit__title p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}
.unit__title p:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
}

.review img {
  margin-right: 15px;
  margin-bottom: 10px;
}

@media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
  .review {
    max-width: 600px;
  }

  .story-body__mini-info-list-and-share {
    overflow: hidden !important;
  }
  .eyes {
    padding: 62.5px 108px;
    background: rgba(240, 240, 240, 0.98);
  }

  .image-hidden {
    width: 100%;
    height: 200px;
  }

  .btn:hover {
    background: #f60b0b;
  }
}

@media (max-width: 1007px) {
  .column--secondary {
    display: none;
  }

  .story-body__inner {
    margin: 0 10px !important;
  }

  .story-body .full-width.lead {
    margin: 32px 0 0 !important;
  }
}

@media (max-width: 768px) {
  .photos__text {
    font-size: 16px !important;
    line-height: 1.1 !important;
  }

  .title-xl {
    font-size: 18px !important;
  }
}

@media (max-width: 600px) {
  .orb-search__button {
    display: none !important;
  }

  .photos__text {
    line-height: 1.1 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product {
    max-width: 200px;
  }

  .photo {
    width: 320px;
    flex-wrap: wrap;
  }

  .images {
    width: 300px;
    margin: 0 auto;
  }
  .images:first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 478px) {
  .photo {
    width: 300px;
    flex-wrap: wrap;
  }

  .images {
    width: 270px;
    margin: 0 auto;
  }
}

.sharetools--reveal .twite__channel-out {
  display: inline-block;
}

.twite__channel-out {
  display: block !important;
}

.with-extracted-share-icons .extracted__icon--email {
  background: none !important;
}

.mac-safari .story-body__h1,
.mac-safari .story-body__h1 {
  line-height: 1.3 !important;
}

#comebacker_main_div {
  height: 0px !important;
  width: 100% !important;
  background: #949494;
}
footer {
  outline: 2px solid '#949494';
}

.story-body .full-width.lead {
  margin: 32px auto !important;
}

.story-body__inner {
  margin-right: auto !important;
}

@media (max-width: 1007px) and (min-width: 768px) {
  .story-body .full-width.lead {
    width: 80% !important;
  }
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 600px;
}

.order__product {
  margin-right: 40px;
}

.order__img {
  max-width: 300px;
  width: 100%;
  position: relative;
  left: -4px;
}

.order__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 283px;
  width: 100%;
}

.price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 16px;
}

.price__text {
  padding: 0;
  margin: 0 20px;
}

.story-body .price__old {
  font-size: 20px;
  font-weight: normal;
  color: rgb(178, 178, 178);
  position: relative;
}

.story-body .price__old::before {
  content: '';
  display: block;
  border-top: 1px solid rgb(178, 178, 178);
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}

.story-body .price__new {
  font-size: 28px;
  color: red;
  font-weight: 700;
}

.order__input {
  font-size: 16px;
  max-width: 250px;
  width: 100%;
  margin-bottom: 16px;
  background-color: rgb(248, 249, 249);
  border: 1px solid rgb(231, 231, 231);
  padding: 10px 10px 10px 20px;
}

.order__button {
  font-size: 25px;
  font-weight: 700;
  color: white;
  background: #bb1919;
  border: 1px solid #8e756a;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -webkit-box-shadow: 3px 3px 6px 0 #595959;
  box-shadow: 3px 3px 6px 0 #595959;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 15px 40px;
  max-width: 200px;
  width: 100%;
}

.order__button:hover {
  transform: scale(1.05);
}

input::-ms-clear {
  display: none;
}

.comments__product {
  max-width: 300px;
  width: 100%;
}

@media (max-width: 767px) {
  .order {
    flex-direction: column;
  }

  .order__product {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .order__product {
    max-width: 260px;
  }
}
